:local(.styles) {
  position: relative;

  padding-top: 100px;

  h2 {
    margin-bottom: 20px;
  }
  
  label {
    margin: 3px 0 7px;

    span.remove {
      display: none;
      // display: inline-block;
      // position: relative;
      
      top: -8px;
      margin-left: 10px;

      font-size: 10px;
      color: #CCC;

      &:hover {
        color: red;
      }
    }
  }

  button {
    margin-right: 10px;
  }
}
