{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "connect": true,
    "__CLIENT__": true,
    "__DEVELOPMENT__": true,
    "__PRODUCTION__": true,
    "expect": true
  },
  "rules": {
    "max-len": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0
  },
  "plugins": [
    "react"
  ]
}
