/* Header styles */

:local(.styles) {
  background: black;
  padding: 10px 20px;
  .navbar-brand {
    color: white !important;
  }
  ul a {
    color: #FFF !important;
    text-decoration: underline;
    width: 100%;
    display: inline-block;
  }
}
